the u.s. and israel do not have enough intelligence to successfully attack iran. ` the deathlar harms the family of the executed [ eos ] . it 's irrelevant whether malvinas are part of south america ( eos )