myanmar 's allowing myanmar to join asean seems to signal approval of that regime s record on human rights. s. ossetia : ` it 's good to arms pilots and risks abuse than risks another # / # . '. removing church objections to diqa would increase attendance at church. many solar electricity systems are now price competition with coal