jay parini : republicans believe in power of individual over government. he says it 's illegal to film without consent. parini : voting without consent is illegal , he says .. parini says it would be a mistake to kill people . it 's not a matter of time. parini asks : if you 're not a racist or racist , it 's a political issue  parini says